.deps/
ltmain.sh
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
stamp-h1
lib/*
cky
config.guess
config.sub
libtool
src/.libs/
src/Makefile
src/libshare.la
src/libstatic.a
src/share.lo
